.gallerysection {
  width: 100%;
  text-align: center;
}

.gallerysection div {
  width: 75%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.gallerysection div img {
  width: 100%;
  height: 100%;
}

.gallerysection div video {
  width: 100%;
  height: 100%;
}

.gallerysection h1 {
  font-size: 2.5rem;
  font-weight: 1000;
  color: darkblue;
}

@media (max-width: 480px) {
  .gallerysection div {
    width: 90%;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}
